[Unit]
Description=Log Collector Service
Requires=rabbitmq-server.service
After=network.target rabbitmq-server.service

[Service]
User=mgp
ExecStart=/home/mgp/miniforge3/envs/gr39/bin/python /home/mgp/dev/hamilton/hamilton/logging/log_collector.py
Restart=on-failure
WorkingDirectory=/home/mgp/dev/hamilton/hamilton/logging/

[Install]
WantedBy=multi-user.target
