[Unit]
Description=Log Collector Service
Requires=rabbitmq-server.service
After=network.target rabbitmq-server.service

[Service]
User=mgp
ExecStart=/home/mgp/miniforge3/envs/gr39/bin/python /home/mgp/dev/hamilton/hamilton/operators/log_collector/controller.py
Restart=on-failure
WorkingDirectory=/home/mgp/dev/hamilton/hamilton/operators/log_collector/

[Install]
WantedBy=multi-user.target
