[Unit]
Description=SDR Controller Service
Requires=rabbitmq-server.service hamilton-relay-controller.service
After=network.target rabbitmq-server.service hamilton-log-collector.service hamilton-relay-controller.service
# Defines the time period in which restart attempts are counted (seconds)
StartLimitIntervalSec=60
[Service]
User=mgp
ExecStart=/home/mgp/miniforge3/envs/gr39/bin/python /home/mgp/dev/hamilton/hamilton/operators/sdr/controller.py
Restart=on-failure
WorkingDirectory=/home/mgp/dev/hamilton/hamilton/operators/sdr/
# Specifies the number of restart attempts within the interval defined above
StartLimitBurst=1
# Optional: Time to wait before restarting the service
RestartSec=5



[Install]
WantedBy=multi-user.target
