[Unit]
Description=Database Update Service
Requires=rabbitmq-server.service hamilton-log-collector.service 
After=network.target rabbitmq-server.service hamilton-log-collector.service 

[Service]
User=mgp
ExecStart=/home/mgp/miniforge3/envs/gr39/bin/python /home/mgp/dev/hamilton/hamilton/database/db_update.py
Restart=on-failure
WorkingDirectory=/home/mgp/dev/hamilton/hamilton/database/

[Install]
WantedBy=multi-user.target