[Unit]
Description=Scheduler Service
Requires=rabbitmq-server.service hamilton-radiometrics.service hamilton-astrodynamics.service hamilton-orchestrator.service
After=network.target rabbitmq-server.service hamilton-radiometrics.service hamilton-astrodynamics.service hamilton-orchestrator.service

[Service]
User=mgp
ExecStart=/home/mgp/miniforge3/envs/gr39/bin/python /home/mgp/dev/hamilton/hamilton/operators/scheduler/controller.py
Restart=on-failure
WorkingDirectory=/home/mgp/dev/hamilton/hamilton/operators/scheduler/

[Install]
WantedBy=multi-user.target