[Unit]
Description=Radiometrics Service
Requires=rabbitmq-server.service hamilton-database-query.service 
After=network.target rabbitmq-server.service hamilton-log-collector.service hamilton-database-query.service

[Service]
User=mgp
ExecStart=/home/mgp/miniforge3/envs/gr39/bin/python /home/mgp/dev/hamilton/hamilton/operators/radiometrics/controller.py
Restart=on-failure
WorkingDirectory=/home/mgp/dev/hamilton/hamilton/operators/radiometrics/

[Install]
WantedBy=multi-user.target