[Unit]
Description=Orchestrator Service
Requires=rabbitmq-server.service hamilton-sdr.serivce hamilton-tracker.service
After=network.target rabbitmq-server.service hamilton-log-collector.service hamilton-sdr.service hamilton-tracker.service

[Service]
User=mgp
ExecStart=/home/mgp/miniforge3/envs/gr39/bin/python /home/mgp/dev/hamilton/hamilton/operators/orchestrator/controller.py
Restart=on-failure
WorkingDirectory=/home/mgp/dev/hamilton/hamilton/operators/orchestrator/

[Install]
WantedBy=multi-user.target